<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>maintence page</title>
        </head>

    <body>
        <h1>We'll be righht back.</h1>
        <p>
            The site is currently being updated.
            </p>
        </body>

</html>