<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Projects Page</title>
    </head>

    <body>

        <h1>
            {{projTitle}}
            </h1>
        {{> header}}

        <p>
            {{projMessage}}
            </p>

        {{> footer}}
    </body>

</html>