<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Portifolio Page</title>
    </head>

    <body>

        <h1>Portifolio</h1>
        {{> header}}

        <p>
            {{portMessage}}
        </p>

        {{> footer}}
    </body>

</html>